* {
    padding: 0;
    margin: 0;
}

h1,
h2 {
    text-align: center;
}

h3 {
    color: rgb(17, 19, 19);
}

#members {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}

.member-card {
    border: 1px solid rgb(0 0 0 / .1);
    padding: 1rem;
    background-color: rgb(136, 219, 252);
}